.App {
  text-align: center;
}
* {
  box-sizing: border-box;
} 

.App-header {
  background-color: cornflowerblue;
  height: 70px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

header {
  text-align: center;
  background-color: cornflowerblue;
  border: none;
  color: black;
  padding: 12px 32px;
}

h1 {
  color: azure;
}

h2 {
  color: cornflowerblue;
}

#spacer {
  border-bottom: 1px solid black;
}

li {
  display: flex;
  margin: 10px 0;
  border-bottom: 1px dotted black;
  align-items: flex-end;
}

.remove {
  margin-left: auto;
  border-radius: 10%;
  height: 25px;
  background-color: rgb(255, 9, 9);
}

form button {
  border-radius: 10%;
  margin-left: auto;
}

#list {
  max-width: 40%;
  margin: 0 auto;
}

form {
  display: grid;
  padding: 10px 0;
  margin: 10px 0;
  grid-template-columns: auto 67% auto;
}

form p {
  display: flex;
  margin: 0;
  padding: 0;
  align-items: flex-end;
}

ul {
  list-style: none;
  padding-left: 0;
}

.complete {
  text-decoration: line-through;
  color: gray;
}

#completeDiv {
  display: flex;
  align-items: flex-end;
}

p {
  margin: 0;
  padding: 0;
}