.App {
  text-align: center;
}

.App-header {
  background-color: cornflowerblue;
  height: 70px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

header {
  text-align: center;
  background-color: cornflowerblue;
  border: none;
  color: black;
  padding: 12px 32px;
}

h1, h2 {
  color: azure;
}

#spacer {
  border-bottom: 1px solid black;
}

li {
  display: flex;
}

button {
  margin-left: auto;
}

#list {
  max-width: 50%;
  margin: 0 auto;
}

#new {
  margin-right: 5%;
}

li {margin: 10px 0;}

form {
  margin-top: 5%;
}